<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>Parties</h4>
    </div>
    <%= form_tag root_url, :method => 'get', :id => "parties_search" do %>
        <div class="col-md-4">
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="parties"><%= render 'parties_table' %></div>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <%= button_to "Create Party", new_party_path, :class => 'btn btn-large btn-primary', :method => :get  %>
      </div>
    </div>
   </div>
