<h1>Party#show for
<%= @party.name %>
</h1>
<p>Find me in app/views/party/show.html.erb</p>
<ul id="playerList">
<% @players_all.each do |p| %>
<li>
	<%= p.username %>
</li>
<% end %>
</ul>

<%= form_for(:player, remote: true, url: party_player_index_path(@party)) do |f| %>
<%= f.text_field :username %>
<%= f.submit %>
<% end %>
