<div class="container">
<div class="row">
<div class="col-md-12">
<h4><u><%= @party.name %></u></h4>
<ul id="playerList">
<% @players_all.each do |p| %>
<li>
	<%= link_to p.username, party_player_path(@party.id, p.id) %>
	<b> :   </b>
	<%= @games_all.where(winner_id: p.id).count %>
	<b> - </b>
	<%= @games_all.where(loser_id: p.id).count %>
</li>
<% end %>
</ul>

<%= form_for(:player, remote: true, url: party_player_index_path(@party)) do |f| %>
<%= f.text_field :username %>
<%= f.submit %>
<% if @players_all.count > 1 %>
	<%= link_to "New Game", new_party_game_path(@party) %>
	<%= link_to "View Games", party_games_path(@party) %>
<% else %>
	<b>Add players before creating games</b>
<% end %>
<% end %>
</div>
</div>
</div>
